
**/__pycache__/

# Don't sync input/ouput folders.
**/input/
**/Input/
**/inputs/
**/Inputs/
**/output/
**/Output/
**/outputs/
**/Outputs/

test/
tests/

wd/

agent.md
instructions.md
misc-notes.txt
*.kate-swp
