


# Don't sync input/ouput folders.
**/input/
**/Input/
**/inputs/
**/Inputs/
**/output/
**/Output/
**/outputs/
**/Outputs/

# build files
/build
/dist
**/__pycache__/
.reporting_app.db
.log.db
*.db
test/
tests/

agent.md
instructions.md
misc-notes.txt
*.kate-swp


# working directory
wd/


